extends /templates/shared/_layout

block content
  +pagetitle('About', 'primary')

  +item('Venue', '', '', 'primary', '01')
    img(src='/images/harpa-hjupur.jpg')

    p Harpa is one of Reykjavik‘s greatest landmarks, located by the picturesque Reykjavík harbour in the city centre and features stunning views of the surrounding mountains and the North Atlantic Ocean. Everything you need is within reach like hotels, restaurants, museums, art galleries and shopping as well as various activities and sightseeing in Iceland‘s exotic nature.

  +item('About', '', '', 'primary', '02')
    p IceWeb is an international web conference that has been held since 2006 and covers web related elements such as design, development, marketing, content and performance to name a few.

    p This years event we are proud to present amazing speakers who bring diverse and deep expertise on various topics significant to the web community.

    p Iceweb is organized by SVEF (the Icelandic Web Industry Association). SVEF is a non profit organization devoted to sharing and bringing knowledge to the web industry in Iceland.


  +item('Contact info', '', '', 'primary', '03')
    p Iceweb is organized by SVEF - The Icelandic Web Industry Association. SVEF is a non profit organization devoted to sharing and bringing knowledge to the web industry in Iceland.

    p For additional information, future speaking opportunities or sponsorship please contact:

    p
      | Unnur Mjöll S. Leifsdóttir
      br
      | Director of Operation - SVEF
      br
      a(href='mailto:unnur@svef.is') unnur@svef.is
      br
      a(href='tel:+3548241979') Tel. +354 824 1979
