extends /templates/shared/_layout

block content
  section.fphero.pagetitle: grid: column
    h1
      span IceWeb
    .title IceWeb 2018

    p IceWeb ráðstefnan verður haldin föstudaginn 26.janúar 2018 í Hörpu. Við hvetjum alla unnendur vefmála sem ætla að mæta á #iceweb2018 til að skrá sig sem fyrst á ráðstefnuna.

    p Fyrirlesarar á IceWeb að þessu sinni eru:

    ul
      li Arnar Gísli Hinriksson – ccp
      li Andri Kristinsson – hugsmiðjan
      li Berglind Ósk Bergsdóttir – kolibri
      li Guðmundur Guðnason – icelandair
      li Guðný Þ. Magnúsdóttir – origo
      li Hrafn Ingvarsson – novomatic
      li Ólafur Páll Einarsson – isign
      li Rósa Stefánsdóttir – rosastef.com
      li Valgerður Halldórsdóttir – viska

    p Um gríðarlega flottan og fjölhæfan hóp er að ræða sem mun fjalla m.a. um UX, vefforritun, vefhönnun, aðgengismál, o.fl. Þetta er ráðstefna sem enginn sérfræðingur í vefmálum má láta framhjá sér fara.

    p Almennt verð 16.990 kr.
    p Verð fyrir félagsmenn SVEF 12.990 kr.
    p Ertu ekki í SVEF? <a href="http://svef.is/skraning-einstaklinga/">Skráðu þig hér</a>.
    p Nánari upplýsingar um ráðstefnuna verða birtar innan skamms.

    p Takið daginn frá!

    p: a.button(href='https://nvite.com/iceweb2018/dl8y41' target='_blank') Kaupa miða
