extends /templates/shared/_layout

block content
  section.fphero.pagetitle: grid: column
    h1
      span IceWeb
    .title Stafræn framtíð

    p IceWeb ráðstefnan verður haldin föstudaginn 26.janúar 2018 í Hörpu. Við hvetjum alla unnendur vefmála sem ætla að mæta á #iceweb2018 til að skrá sig sem fyrst á ráðstefnuna.

    p.no-bottom-margin Fyrirlesarar á IceWeb að þessu sinni eru:
    .centered-list
      ul
        li Arnar Gísli Hinriksson – CCP
        li Andri Kristinsson – Hugsmiðjan
        li Berglind Ósk Bergsdóttir – Kolibri
        li Guðmundur Guðnason – Icelandair
        li Guðný Þ. Magnúsdóttir – Origo
        li Hrafn Ingvarsson – Novomatic
        li Ólafur Páll Einarsson – ISIGN
        li Rósa Stefánsdóttir – rosastef.com
        li Valgerður Halldórsdóttir – Viska

    p Um gríðarlega flottan og fjölhæfan hóp er að ræða sem mun fjalla m.a. um UX, vefforritun, vefhönnun, aðgengismál, o.fl. Þetta er ráðstefna sem enginn sérfræðingur í vefmálum má láta framhjá sér fara.

    p Almennt verð 16.990 kr.
    p Verð fyrir félagsmenn SVEF 12.990 kr.
    p Ertu ekki í SVEF? <a target="_blank" href="http://svef.is/skraning-einstaklinga/">Skráðu þig í SVEF hér</a>.
    p Nánari upplýsingar um ráðstefnuna verða birtar innan skamms.

    p Takið daginn frá!

    p: a.button(href='https://nvite.com/iceweb2018/dl8y41' target='_blank') Kaupa miða
