extends /templates/shared/_layout

block content
  section.fphero.pagetitle: grid: column
    h1
      span 2019
    .title IceWeb

    p IceWeb ráðstefnan verður haldin föstudaginn 22.febrúar 2019 á Hilton hótel Nordica. 
    //- Við hvetjum alla unnendur vefmála sem ætla að mæta á #iceweb2019 til að skrá sig sem fyrst á ráðstefnuna.

    p.no-bottom-margin Fyrirlesarar á IceWeb 2019 eru m.a. 
    .centered-list
      ul
        li Brad frost
        li Magga Dóra
        li Hrefna Lind Ásgeirsdóttir – Meniga
        li Pétur Jóhannes Óskarsson - WuXi
        li Rachel Salmon - Kolibri
        li James Elías Sigurðsson - Adversary
        li Orri Arnarsson – Sendiráðið
        
        Takið daginn frá!
    

  //-   p Um gríðarlega flottan og fjölhæfan hóp er að ræða sem mun fjalla m.a. um UX, vefforritun, vefhönnun, aðgengismál, o.fl. Þetta er ráðstefna sem enginn sérfræðingur í vefmálum má láta framhjá sér fara.

    p Almennt verð 16.990 kr.
    p Verð fyrir félagsmenn SVEF 12.990 kr.
    p Sérstakt nemaverð 4.990 kr.
    p Ertu ekki í SVEF? <a target="_blank" href="http://svef.is/skraning-einstaklinga/">Skráðu þig í SVEF hér</a>.

    p Nánari upplýsingar um ráðstefnuna verða birtar innan skamms.

    p Takið daginn frá!

    p: a.button(href='https://nvite.com/iceweb2018/dl8y41' target='_blank') Kaupa miða
