extends /templates/shared/_layout

block content
  +pagetitle('Fyrirlesarar', 'green')

  +item('Arnar Gísli Hinriksson', 'Performance Marketing Specialist hjá CCP', '', 'green')
    h3 „Er vefurinn þinn uppvakningur?“
    p Uppvakningar finnast ekki bara í lotuáhorfum á Netflix. Þeir finnast nefnilega líka á netinu. Stór hluti vefja reika um stefnu- og markmiðalausir, óuppfærðir og ógeðfelldir. Erindið fjallar um vopnabúr eftirlifenda, mótefni við stökkbreytingu og hvernig endurlífga megi dauða vefi.

  +item('Andri Kristinsson', 'Ráðgjafi hjá Hugsmiðjunni', '', 'green')
    h3 „Er stafræn hagsæld á Íslandi?“
    p Þróunin í stafræna heiminum hefur verið hröð undanfarin ár. Samfélagsmiðlar, snjallsímar og leitarvélar eru meðal þeirra tækninýjunga sem hafa haft mikil áhrif á hvernig notendur nálgast vöru og þjónustu fyrirtækja. Notendur eru duglegir að tileinka sér nýja tækni en hvernig hafa íslensku fyrirtækin brugðist við henni?

  +item('Berglind Ósk Bergsdóttir', 'Tölvunarfræðingur og sérfræðingur í farsíma- og framendaforritun hjá Kolibri', '', 'green')
    h3 „Að byggja upp traust og vellíðan á vinnustað“
    p Meðvitundin um mikilvægi heilbrigðrar vinnustaðamenningu er sífellt að aukast. Þegar fólk getur talað opinskátt og heiðarlega í traustu og stuðningsríku umhverfi er það ástríðufyllra fyrir því sem það gerir og getur gefið af sér á sjálfbæran hátt. En hvað getum við gert til að bæta vinnustaðamenningu okkar í hugbúnaðarþróun? Berglind hefur undanfarið ár ferðast um allan heim með fyrirlestur um blekkingarupplifun (e. impostor experience/syndrome) og mun tala um reynslu sína og hvað sé hægt að gera til að byggja upp heilbrigðan vinnukúltúr, fyrir þá sem þjást af blekkingaupplifun sem og aðra.

  +item('Guðmundur Guðnason', 'Forstöðumaður stafrænnar þróunar hjá Icelandair', '', 'green')
    h3 „Stafræn framtíð Icelandair“
    p Í erindinu mun Guðmundur fjalla um hvernig Icelandair hefur gert breytingar til að styðja við sína stafrænu framtíð. Nýsköpun og stafræn þróun er gerð með það markmið að veita framúrskarandi og persónulega þjónustu. Með aukinni áherslu á sjálfsafgreiðslu næst bæði betri upplifun viðskiptavina og aukinn sparnaður.

  +item('Guðný Þ. Magnúsdóttir', 'Vefráðgjafi og aðgengissérfræðingur hjá Origo', '', 'green')
    h3 „EAA – Ný Evrópulöggjöf um aðgengi á netinu“
    p Evrópusambandið hefur tekið í gildi lög um bætt aðgengi, European Accessibility Act. EAA snýr meðal annars að aðgengi á netinu, og gerir kröfur um að opinberir vefir, og aðrir vefir sem þjóna almenningi, standist kröfur um aðgengi. Hvaða áhrif hefur löggjöfin hérlendis og hvað er hægt að gera til að vera undirbúin og tryggja það að kröfum sé mætt?

  +item('Hrafn Ingvarsson', 'Executive product manager hjá Novomatic', '', 'green')
    h3 „Huglægt mat í Hugbúnaðarþróun“

  +item('Ólafur Páll Einarsson', 'Framkvæmdastjóri iSign', '', 'green')
    h3 „Hlutverk rafrænna undirskrifta í þjónustum framtíðarinnar“
    p Meðhöndlun skjala á rafrænu formi hefur í fjölda ára verið nauðsynleg forsenda fyrir skilvirkum rekstri fyrirtækja. Í dag er notkun rafrænna skilríkja að verða nýr mælikvarði fyrir fyrirtæki með skilvirkan rekstur og vilja auka samkeppnishæfni með því að veita betri rafræna þjónustu til sinna viðskiptavina. Þægindi og einfaldleiki spila lykilhlutverk fyrir tækni sem nýr markaður er enn að læra að tileinka sér. Þjónustuveitendur verða að aðlagast vaxandi kröfum neytenda um aukið aðgengi að þjónustu hvar og hvenær sem er á þægilegri, einfaldari og hraðari hátt. Á sama tíma er nauðsynlegt að lausnirnar uppfylli nýjar kröfur laga og reglugerða um persónuvernd, öryggi og rétta útfærslu rafrænna undirskrifta. Rafrænar undirskriftir eru hagnýtt verkfæri í vopnabúr lausnahönnuða sem nýta má til útbúa snjallari og öfluggri þjónustur framtíðarinnar.

  +item('Rósa Stefánsdóttir', 'Stofnandi og ráðgjafi, Vínber', '', 'green')
    h3 „Framtíð smásölu er á vefnum“

  +item('Valgerður Halldórsdóttir', 'Meðstofnandi sprotafyrirtækisins Visku', '', 'green')
    h3 „Verðmætasta auðlind heims er ekki lengur olía, heldur gögn“
    p Erindið fjallar um hvernig gögn eru að éta heiminn og hvernig þú getur nýtt þér það

  +item('Einar Þór Gústafsson (fundarstjóri)', 'Stofnandi Getlocal', '', 'green')
    p Einar hefur verið í vefbransanum í hátt í 20 ár, var meðal stofnanda SVEF og fyrrum formaður, einnig var hann upphafsmaður IceWeb ráðstefnunnar. Einar hefur stýrt vefþróun og hönnun hjá fyrirtækjum á borð við Meniga og Íslandsbanka en í dag stýrir hann Getlocal, sprotafyrirtæki sem hann stofnaði fyrir rúmu ári síðan.
