section.white.cta
  grid
    column.text-center
      a.button.blue(href='#buy') Buy tickets

footer
  grid
    column.medium-6
      p IceWeb Conference is produced by <a href="http://svef.is" title="Samtök Vefiðnaðarins">SVEF</a>
    column.medium-6.text-right
      a.button.social.facebook(href='#facebook') facebook
      a.button.social.twitter(href='#twitter') twitter
      a.button.social.vine(href='#vine') vine

  include /images/hexagon.svg
