header
  grid.no-gutter
    column.medium-6: nav.left
      a.disabled(href='#') Home
      a.disabled(href='#speakers') Speakers
      a.disabled(href='#workshop') Workshop
      a.disabled(href='#schedule') Schedule
      //- a(href='/') Home
      //- a(href='/speakers.html') Speakers
      //- a(href='/workshop.html') Workshop
      //- a(href='/schedule.html') Schedule

    column.medium-6: nav.right
      a.disabled(href='#about') About
      a.button.outline(href='http://svef.is/vidburdir/iceweb2017/' target='_blank') Buy tickets

  .logo
    include /images/hexagon.svg
