header
  grid.no-gutter
    column.large-6: nav.left
      //- a(href='/') Forsíða
      //- a(href='/speakers.html') Speakers
      // -a(href='/workshop.html') Workshops
      //- a(href='/schedule.html') Schedule
      //- a.hide-on-large(href='/about.html') About
      a.hide-on-large.button.outline(href='https://nvite.com/iceweb2018/dl8y41' target='_blank') Kaupa miða

    column.large-6: nav.right
      // -a(href='/about.html') About
      a.button.outline(href='https://nvite.com/iceweb2018/dl8y41' target='_blank') Kaupa miða

  .logo
    include /images/hexagon.svg
